.custom-toast {            
    font-size: 16px !important;            
    border-radius: 8px; 
    padding : 24px 12px !important; 
    
  }
  .news-Letter-bg{
    background: url("../src/assets/bg-shadow.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }